<div class="module reportuser" ng-controller="reportuserController">
  <!-- write your module html here -->
  <div class="error" ng-show="showError">
    <p>{{statusError}}</p>
  </div>

  <div class="contenido" ng-show="showModule" ng-repeat="value in report track by $index">
    <div class="borde" ng-style="{'background-color': value.color}">
      <div class="leftpart">

        <div class="topBar">
          <div class="fecha">
            <span>{{value.date1}}</span>
          </div>
          <div class="muescaicon">
            <div class="icon" ng-bind-html="value.icon">

            </div>
             <!-- <iron-icon class="icon" src="{{value.icon}}"></iron-icon> -->
          </div>
          <div class="hora">
            <span>{{value.tyme}}</span>
          </div>
        </div>

        <div class="content">
          <p><b>{{value.title}}:</b> {{value.subtitle}}</p>
          <p class="txt">{{value.txt}}</p>
          <a href="#/rightMenu-abcd/webview-xiSwx?q={{value.url}}">
            <button class="button" ng-show="value.url != null">{{value.button}}</button>
          </a>
        </div>
        <div class="muescatri" ng-style="{'border-top-color': value.color}"></div>
      </div>

      <div class="muesca"></div>
    </div>
  </div>
  <!-- end module html -->
</div>
